:root {
    --silver: #c0c2c2;
    --silverhole: #bbbcbe;
    --solar: #1e1412;
    --hkeaa: #a12a12;
    --keyblack: #161618;
    --keywhite: #dcdfe3;
    --keyred: #5c3639;
    --prog: #be5d18;
    --shift: #7a3e05;
    --cmplx: #372b32;
    --base: #0d2f33;
    --stat: #2b455f;
    --alpha: #ee1111af;
    --screen: #778273;
    --screenl: #dbdcde;
    --screent: #514c50;
}

body {
    background-color: grey;
    margin: 0;
    font-family: sans-serif;
}

.calc {
    background-color: var(--silver);
    height: 100vh;
    width: 49.6894409vh;
    margin: auto;
    position: relative;
    border-top-left-radius:  24.8447205vh 3.650130859vh;
    border-top-right-radius:  24.8447205vh 3.650130859vh;
    border-bottom-left-radius:  24.8447205vh 8.755650726vh;
    border-bottom-right-radius:  24.8447205vh 8.755650726vh;
}

.casio {
    display: flex;
}

.casio .c {
    background-color: black;
}

.casio .a {
    background-color: white;
}

.casio .s {
    background-color: white;
}

.i {
    background-color: black;
    position: absolute;
    width: 10.27837257vh;
    height: 1.903402332vh;
    margin-top: 3.235783964vh;
    margin-left: 7.13775873vh;
    clip-path: inset(5% 18% 15% 65%);
}

.o {
    background-color: white;
}

.hkeaa {
    position: absolute;
    display: inline-flex;
    margin-top: 11.32524387vh;
    margin-left: 3.806804656vh;
    height: 1.522721865vh;
    width: 26.2246543vh;
}

.box1 {
    background-color: var(--hkeaa);
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 0.856531047vh;
    position: absolute;    
}

.box2 {
    background-color: var(--hkeaa);
    margin-left: 1.52221862vh;
    margin-top: 0;
    height: 100%;
    width: 0.856531047vh;   
    position: absolute;     
}

.box4 {
    background-color: var(--hkeaa);
    margin-left: 4.472995471vh;
    margin-top: 0;
    height: 100%;
    width: 0.856531047vh;  
    position: absolute;      
}


.box3 {
    background-color: var(--hkeaa);
    margin-left: 3.045443725vh;
    margin-top: 0;
    height: 100%;
    width: 0.856531047vh;  
    position: absolute;      
}

.box5 {
    background-color: var(--hkeaa);
    margin-left: 6.09088745vh;
    margin-top: 0;
    height: 100%;
    width: 1.617891979vh;  
    position: absolute;      
}

.hkeaa p {
    display: inline;
    padding: 0;
    color: var(--hkeaa);
    font-family: sans-serif;
    position: absolute;
    margin-left: 8.374970244vh;;
    margin-top: -0.35vh;
    width: 18.17749223vh;
    height: 100%;
    font-size: 1.893vh;
    white-space: nowrap;
}

.solar {
    background-color: var(--solar);
    height: 7.51843921vh;
    width: 14.87582769vh;
    position: absolute;
    top: 2.664763264vh;
    right: 6.852248381vh;
    border-radius: 1.522537994vh 1.522721865vh;
}

.solar .line1 {
    background-color: grey;
    height: 100%;
    width: 2%;
    position: absolute;
    left: 23.5%;
}

.solar .line2 {
    background-color: grey;
    height: 100%;
    width: 2%;
    position: absolute;
    left: 47%;
}

.solar .line3 {
    background-color: grey;
    height: 100%;
    width: 2%;
    position: absolute;
    right: 23.5%;
}

.screen {
    display: flex;
}

.background {
    background-color: var(--screen);
    position: absolute;
    margin-top: 14.18034737vh;
    margin-left: 5.044016169vh;
    height: 16.6547704vh;
    width: 34.57982386vh;
    border-radius: 0.666190814vh;

    /* border: 1.04681282vh 1.99852444vh 0px 1.99852444vh none none none none var(--screent) var(--screenl) #000 var(--screenl); */

    border-left-width: 1.99852444vh;
    border-left-color: var(--screenl);
    border-right-width: 1.99852444vh;
    border-right-color: var(--screenl);
    border-top-width: 1.04681282vh;
    border-top-color: var(--screent);
}

.aribtn {
    position: relative;
    display: grid;
    margin-top: 66.61908161vh;
    margin-left: 4.6210707127vh;
    width: 40.447299477vh;
    height: 28.07518439vh;
}

.l1 {
    display: flex;
}

.sevenbtn {
    height: 6.566738044vh;
    width: 7.423269079vh;
    margin-top: 0;
    margin-left: 0;
}

.sevenbtn p {
    color: var(--shift);
    margin-top: 0;
    margin-left: 1.808232212vh;
    margin-bottom: 0.285510349vh;
    width: 3.426124191vh;
    height: 1.046871282vh;
    font-size: 1.12vh;
}

.sevenbtn .main {
    background-color: var(--keyblack);
    height: 5.139186296vh;
    width: 7.423269079vh;
    margin-bottom: 0;
    margin-left: 0;
    border-bottom-left-radius: 50% 3.4261241vh;
    border-bottom-right-radius: 50% 3.4261241vh;
    border-top-left-radius: 0.85653104vh 1.713062196vh;
    border-top-right-radius: 0.85653104vh 1.713062196vh;
}

.eightbtn {
    height: 6.566738044vh;
    width: 7.423269079vh;
    margin-top: 0;
    margin-left: 0;
}

.eightbtn .main {
    background-color: var(--keyblack);
    height: 5.139186296vh;
    width: 7.423269079vh;
    margin-top: 1.332381631vh;
    margin-bottom: 0;
    margin-left: 0.951701164vh;
    border-bottom-left-radius: 50% 3.4261241vh;
    border-bottom-right-radius: 50% 3.4261241vh;
    border-top-left-radius: 0.85653104vh 1.713062196vh;
    border-top-right-radius: 0.85653104vh 1.713062196vh;
}

.ninebtn {
    height: 6.566738044vh;
    width: 7.423269079vh;
    margin-top: 0;
    margin-left: 0.951701164vh;
}

.ninebtn p {
    color: var(--shift);
    margin-top: 0;
    margin-left: 2.950273608vh;
    margin-bottom: 0.285510349vh;
    width: 3.426124191vh;
    height: 1.046871282vh;
    font-size: 1.388vh;
}

.ninebtn .main {
    background-color: var(--keyblack);
    height: 5.139186296vh;
    width: 7.423269079vh;
    margin-bottom: 0;
    margin-left: 0.951701164vh;
    border-bottom-left-radius: 50% 3.4261241vh;
    border-bottom-right-radius: 50% 3.4261241vh;
    border-top-left-radius: 0.85653104vh 1.713062196vh;
    border-top-right-radius: 0.85653104vh 1.713062196vh;
}